<a href="/" class="previous round">&#8249;</a>   
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3">اعرض وظيفة جديدة</h1>
         
        <%= render 'form', job: @job %>
      </div>
    </div>
  </div>
</section>